name: MLflow CI/CD Advanced (4 pts)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas numpy matplotlib seaborn

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns

    - name: Build Docker image with MLflow
      run: |
        cd MLProject
        RUN_ID=$(ls mlruns/0 | head -n 1)
        mlflow models build-docker \
          -m runs:/$RUN_ID/model \
          -n inirianokw/workflow-ci-mlflow

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Push Docker image to Docker Hub
      run: |
        docker push inirianokw/workflow-ci-mlflow